.body {
  background-color: #f05945;
}

.Container {
  display: flex;
  flex-direction: column;
}

.buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 5px solid;
  justify-content: space-around;
}

.pokemons {
  display: flex;
  justify-content: space-around;
}

.home__row {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  margin-left: 50px;
  margin-right: 50px;
}

button {
  cursor: pointer;
}
