.searchButtonContainer {
  background-color: #e0ba2e;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

p {
  margin-right: 10px;
}

.searchButtonContainer:hover {
  background-color: #b89933;
  transition: all 0.2s linear 0s;
}

.isActive2 {
  background-color: #fcd02d;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(251, 255, 0);
  transition: all 0.2s linear 0s;
}
